# Module 5 Challenge Question: Finding the Top Rated Movie Directors

#### **data source(s):**
- https://pybit.es/codechallenge13.html
- https://nycdatascience.com/blog/student-works/web-scraping/movie-rating-prediction/

Using the data on IMDB movies located at the following url, obtain the 20 highest rated movie directors based on their average movie IMDB ratings.

 - Only consider directors with a minimum of 4 movies, otherwise you get misrepresentative data. 
 - Take movies of year >= 1960.
 - Print the top 20 highest rated directors with their movies ordered desc on rating

In [ ]:
import pandas as pd
dataUrl = 'https://raw.githubusercontent.com/sundeepblue/movie_rating_prediction/master/movie_metadata.csv'
data = pd.read_csv(dataUrl)

In [ ]:
data

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5038,Color,Scott Smith,1.0,87.0,2.0,318.0,Daphne Zuniga,637.0,NaN,Comedy|Drama,...,6.0,English,Canada,NaN,NaN,2013.0,470.0,7.7,NaN,84
5039,Color,NaN,43.0,43.0,NaN,319.0,Valorie Curry,841.0,NaN,Crime|Drama|Mystery|Thriller,...,359.0,English,USA,TV-14,NaN,NaN,593.0,7.5,16.00,32000
5040,Color,Benjamin Roberds,13.0,76.0,0.0,0.0,Maxwell Moody,0.0,NaN,Drama|Horror|Thriller,...,3.0,English,USA,NaN,1400.0,2013.0,0.0,6.3,NaN,16
5041,Color,Daniel Hsia,14.0,100.0,0.0,489.0,Daniel Henney,946.0,10443.0,Comedy|Drama|Romance,...,9.0,English,USA,PG-13,NaN,2012.0,719.0,6.3,2.35,660
5042,Color,Jon Gunn,43.0,90.0,16.0,16.0,Brian Herzlinger,86.0,85222.0,Documentary,...,84.0,English,USA,PG,1100.0,2004.0,23.0,6.6,1.85,456

In [ ]:
data.columns

Index(['color', 'director_name', 'num_critic_for_reviews', 'duration',
       'director_facebook_likes', 'actor_3_facebook_likes', 'actor_2_name',
       'actor_1_facebook_likes', 'gross', 'genres', 'actor_1_name',
       'movie_title', 'num_voted_users', 'cast_total_facebook_likes',
       'actor_3_name', 'facenumber_in_poster', 'plot_keywords',
       'movie_imdb_link', 'num_user_for_reviews', 'language', 'country',
       'content_rating', 'budget', 'title_year', 'actor_2_facebook_likes',
       'imdb_score', 'aspect_ratio', 'movie_facebook_likes'],
      dtype='object')

In [ ]:
columns_needed = ['director_name', 'movie_title', 'title_year', 'imdb_score']
data_needed = data[columns_needed]
data_needed

,director_name,movie_title,title_year,imdb_score
0,James Cameron,Avatar,2009.0,7.9
1,Gore Verbinski,Pirates of the Caribbean: At World's End,2007.0,7.1
2,Sam Mendes,Spectre,2015.0,6.8
3,Christopher Nolan,The Dark Knight Rises,2012.0,8.5
4,Doug Walker,Star Wars: Episode VII - The Force Awakens ...,NaN,7.1
...,...,...,...,...
5038,Scott Smith,Signed Sealed Delivered,2013.0,7.7
5039,NaN,The Following,NaN,7.5
5040,Benjamin Roberds,A Plague So Pleasant,2013.0,6.3
5041,Daniel Hsia,Shanghai Calling,2012.0,6.3
5042,Jon Gunn,My Date with Drew,2004.0,6.6

In [ ]:
movies_made = data_needed['director_name'].value_counts()
movies_made

Steven Spielberg    26
Woody Allen         22
Clint Eastwood      20
Martin Scorsese     20
Ridley Scott        17
                    ..
John Crowley         1
Rob Pritts           1
David S. Ward        1
R.J. Cutler          1
Daniel Hsia          1
Name: director_name, Length: 2398, dtype: int64

In [ ]:
directors_more_4 = movies_made[movies_made >= 4]
directors_more_4

Steven Spielberg    26
Woody Allen         22
Clint Eastwood      20
Martin Scorsese     20
Ridley Scott        17
                    ..
Spike Jonze          4
John Milius          4
Ron Shelton          4
Anthony Russo        4
Rick Famuyiwa        4
Name: director_name, Length: 354, dtype: int64

In [ ]:
directors_needed = directors_more_4.keys()
directors_needed

Index(['Steven Spielberg', 'Woody Allen', 'Clint Eastwood', 'Martin Scorsese',
       'Ridley Scott', 'Tim Burton', 'Steven Soderbergh', 'Spike Lee',
       'Renny Harlin', 'Oliver Stone',
       ...
       'Steven Brill', 'John Moore', 'Mark L. Lester', 'Phil Lord',
       'Albert Hughes', 'Spike Jonze', 'John Milius', 'Ron Shelton',
       'Anthony Russo', 'Rick Famuyiwa'],
      dtype='object', length=354)

In [ ]:
# Data with directors who has more or equal 4 movies and displayed movies with year equal or more 1960
data_filtered = data_needed.loc[(data_needed['title_year'] >= 1960) & (data_needed['director_name'].isin(directors_needed))].sort_values(by = 'imdb_score', ascending = False)
data_filtered

,director_name,movie_title,title_year,imdb_score
1937,Frank Darabont,The Shawshank Redemption,1994.0,9.3
3466,Francis Ford Coppola,The Godfather,1972.0,9.2
4409,John Stockwell,Kickboxer: Vengeance,2016.0,9.1
66,Christopher Nolan,The Dark Knight,2008.0,9.0
2837,Francis Ford Coppola,The Godfather: Part II,1974.0,9.0
...,...,...,...,...
2192,Jason Friedberg,Epic Movie,2007.0,2.3
2313,Uwe Boll,Alone in the Dark,2005.0,2.3
2295,Bob Clark,Superbabies: Baby Geniuses 2,2004.0,1.9
2268,Jason Friedberg,Disaster Movie,2008.0,1.9
2834,Jon M. Chu,Justin Bieber: Never Say Never,2011.0,1.6

In [ ]:
director_score = data_filtered.groupby('director_name')['imdb_score'].mean().sort_values(ascending=False).head(20)
director_score = dict(director_score)
director_score

{'Sergio Leone': 8.475,
 'Christopher Nolan': 8.425,
 'Hayao Miyazaki': 8.225,
 'Quentin Tarantino': 8.2,
 'Stanley Kubrick': 8.0,
 'Frank Darabont': 7.9750000000000005,
 'Richard Brooks': 7.95,
 'David Lean': 7.933333333333334,
 'Joss Whedon': 7.925,
 'James Cameron': 7.914285714285714,
 'Billy Wilder': 7.800000000000001,
 'Alfonso Cuarón': 7.8,
 'Alejandro G. Iñárritu': 7.783333333333334,
 'David Fincher': 7.75,
 'Peter Weir': 7.725,
 'Peter Jackson': 7.675000000000001,
 'Martin Scorsese': 7.659999999999999,
 'Fred Zinnemann': 7.65,
 'Matthew Vaughn': 7.65,
 'David Lynch': 7.640000000000001}

In [ ]:
data_movies = data_filtered[['director_name', 'movie_title']]
data_movies = dict(data_movies)
data_movies

{'director_name': 0           James Cameron
 1          Gore Verbinski
 2              Sam Mendes
 3       Christopher Nolan
 6               Sam Raimi
               ...
 5015    Richard Linklater
 5018        Alex Kendrick
 5021          Jay Duplass
 5035     Robert Rodriguez
 5037         Edward Burns
 Name: director_name, Length: 2163, dtype: object,
 'movie_title': 0                                         Avatar
 1       Pirates of the Caribbean: At World's End
 2                                        Spectre
 3                          The Dark Knight Rises
 6                                   Spider-Man 3
                           ...
 5015                                     Slacker
 5018                                    Flywheel
 5021                             The Puffy Chair
 5035                                 El Mariachi
 5037                                   Newlyweds
 Name: movie_title, Length: 2163, dtype: object}

In [ ]:
for line in director_score:
    
    #Directors and mean scrore
    print(line, '%.1f' %director_score[line])
    print("--------------------------------")

    #Movies
    M = data_filtered[data_filtered['director_name'] == line]
    for i in range(len(M)):
      print('%.0f' %M.iloc[i]['title_year'], M.iloc[i]['movie_title'], M.iloc[i]['imdb_score'])

    print('\n')

Sergio Leone 8.5
--------------------------------
1966 The Good, the Bad and the Ugly  8.9
1968 Once Upon a Time in the West  8.6
1984 Once Upon a Time in America  8.4
1964 A Fistful of Dollars  8.0


Christopher Nolan 8.4
--------------------------------
2008 The Dark Knight  9.0
2010 Inception  8.8
2014 Interstellar  8.6
2006 The Prestige  8.5
2000 Memento  8.5
2012 The Dark Knight Rises  8.5
2005 Batman Begins  8.3
2002 Insomnia  7.2


Hayao Miyazaki 8.2
--------------------------------
2001 Spirited Away  8.6
1997 Princess Mononoke  8.4
2004 Howl's Moving Castle  8.2
2008 Ponyo  7.7


Quentin Tarantino 8.2
--------------------------------
1994 Pulp Fiction  8.9
2012 Django Unchained  8.5
1992 Reservoir Dogs  8.4
2009 Inglourious Basterds  8.3
2003 Kill Bill: Vol. 1  8.1
2004 Kill Bill: Vol. 2  8.0
2015 The Hateful Eight  7.9
1997 Jackie Brown  7.5


Stanley Kubrick 8.0
--------------------------------
1964 Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb  8.5
1980 The Shining  8.4
1968 2001: A Space Odyssey  8.3
1975 Barry Lyndon  8.1
1962 Lolita  7.7
1962 Lolita  7.7
1999 Eyes Wide Shut  7.3


Frank Darabont 8.0
--------------------------------
1994 The Shawshank Redemption  9.3
1999 The Green Mile  8.5
2007 The Mist  7.2
2001 The Majestic  6.9


Richard Brooks 8.0
--------------------------------
1967 In Cold Blood  8.0
1960 Elmer Gantry  7.9


David Lean 7.9
--------------------------------
1962 Lawrence of Arabia  8.4
1965 Doctor Zhivago  8.0
1984 A Passage to India  7.4


Joss Whedon 7.9
--------------------------------
2012 The Avengers  8.1
2012 The Avengers  8.1
2005 Serenity  8.0
2015 Avengers: Age of Ultron  7.5


James Cameron 7.9
--------------------------------
1991 Terminator 2: Judgment Day  8.5
1986 Aliens  8.4
1984 The Terminator  8.1
2009 Avatar  7.9
1997 Titanic  7.7
1989 The Abyss  7.6
1994 True Lies  7.2


Billy Wilder 7.8
--------------------------------
1960 The Apartment  8.3
1974 The Front Page  7.3


Alfonso Cuarón 7.8
--------------------------------
2006 Children of Men  7.9
2013 Gravity  7.8
2004 Harry Potter and the Prisoner of Azkaban  7.8
2001 Y Tu Mamá También  7.7


Alejandro G. Iñárritu 7.8
--------------------------------
2000 Amores Perros  8.1
2015 The Revenant  8.1
2014 Birdman or (The Unexpected Virtue of Ignorance)  7.8
2003 21 Grams  7.7
2010 Biutiful  7.5
2006 Babel  7.5


David Fincher 7.8
--------------------------------
1999 Fight Club  8.8
1995 Se7en  8.6
2014 Gone Girl  8.1
2011 The Girl with the Dragon Tattoo  7.8
2008 The Curious Case of Benjamin Button  7.8
1997 The Game  7.8
2010 The Social Network  7.7
2007 Zodiac  7.7
2002 Panic Room  6.8
1992 Alien 3  6.4


Peter Weir 7.7
--------------------------------
1998 The Truman Show  8.1
1989 Dead Poets Society  8.0
2003 Master and Commander: The Far Side of the World  7.4
1985 Witness  7.4


Peter Jackson 7.7
--------------------------------
2003 The Lord of the Rings: The Return of the King  8.9
2001 The Lord of the Rings: The Fellowship of the Ring  8.8
2002 The Lord of the Rings: The Two Towers  8.7
2013 The Hobbit: The Desolation of Smaug  7.9
2012 The Hobbit: An Unexpected Journey  7.9
2014 The Hobbit: The Battle of the Five Armies  7.5
1994 Heavenly Creatures  7.4
2005 King Kong  7.2
2005 King Kong  7.2
2005 King Kong  7.2
2009 The Lovely Bones  6.7
2009 The Lovely Bones  6.7


Martin Scorsese 7.7
--------------------------------
1990 Goodfellas  8.7
2006 The Departed  8.5
1980 Raging Bull  8.3
1976 Taxi Driver  8.3
1995 Casino  8.2
2013 The Wolf of Wall Street  8.2
1978 The Last Waltz  8.2
2010 Shutter Island  8.1
1988 The Last Temptation of Christ  7.6
2011 Hugo  7.5
2004 The Aviator  7.5
2002 Gangs of New York  7.5
1973 Mean Streets  7.4
1991 Cape Fear  7.3
1993 The Age of Innocence  7.2
2008 Shine a Light  7.2
1986 The Color of Money  7.0
1997 Kundun  7.0
1999 Bringing Out the Dead  6.8
1977 New York, New York  6.7


Fred Zinnemann 7.7
--------------------------------
1966 A Man for All Seasons  7.9
1977 Julia  7.4


Matthew Vaughn 7.7
--------------------------------
2011 X-Men: First Class  7.8
2010 Kick-Ass  7.7
2007 Stardust  7.7
2004 Layer Cake  7.4


David Lynch 7.6
--------------------------------
1980 The Elephant Man  8.2
2001 Mulholland Drive  8.0
1999 The Straight Story  8.0
1977 Eraserhead  7.4
1984 Dune  6.6